.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}
html, body{
     margin: 0;
     padding: 0;
     width:100%;
     height:100%;
 }
 * {
     box-sizing: border-box;
 }
 header{
     height:80px;
 }
 .board-outbox{
     width: 800px;
     height:900px;
     margin: 0 auto;
     padding:20px 0;
 }
 .board-outbox > .row{
     margin:1rem 0;
 }
 .table-box{
     width : 100%;
     margin: 0 auto;
     border-spacing: 0;
 }
 .table-box > thead > tr{
     background-color: #7b9acc;
     color:white;
     font-weight:bold;
 }
 .table-box > tbody > tr > td{
     border-bottom: 1px solid gray;
     height:40px;
 }
 .left {
     text-align: left !important;
 }
.left > h3{
	color:#7b9acc;
}
 .center {
     text-align: center !important;
 }

 .right {
     text-align: right !important;
 }
 .paginationb,
 .paginationr {
    margin: 0;
    padding: 1rem;
}
.paginationb > li {
    list-style: none;
    display: inline-block;
    padding: 0.3rem;
    width: 35px;
    text-align: center;
    border: 2px solid transparent;
}
.paginationr > li {
    list-style: none;
    display: inline-block;
    padding: 0.1rem;
    width: 30px;
    text-align: center;
    border: 1px solid transparent;
}

.paginationb > li.active,
.paginationb > li:hover{
    color: #7b9acc;
    font-weight: bold;
    border: 2px solid #7b9acc;
    cursor: pointer;
}
.paginationr > li.active,
.paginationr > li:hover {
    color: #7b9acc;
    font-weight: bold;
    border: 1px solid #7b9acc;
    cursor: pointer;
}

.paginationb > li > a {
    text-decoration: none;
    width:35px;
    height:35px;
    color: darkgray;
}
.paginationr > li > a {
    text-decoration: none;
    width:30px;
    height:30px;
    color: darkgray;
}

.paginationb > li:hover > a,
.paginationr > li:hover > a {
    color: #7b9acc;
}
.listItem td{
	font-size:15px;	
}
.board_write_btn{
	margin:10px 0 5px 0;
}
input[name=board_header_check]+label{
	margin:0 25px 0 0;
}
.boardlistPaging{
	margin:20px 0 10px 0;
}
.board_search_type{
  	width: auto;
	padding: 0.5rem;
	outline: none;
	border: 0.5px solid #7b9acc;
}
.board_search_key{
  	width: auto;
	padding: 0.5rem;
	outline: none;
	border: 0.5px solid #7b9acc;
}
.board-content{
    height:500px;
}
.board-detail-info, .reply{
    margin:0.5rem 0;
}
.board-cbt{
	float:right;
	display:inline-block;
}
.board-count, .board-time, .bar{
	margin:0 0.5rem;
}
.reply-delete{
	cursor:pointer;
}
.boardinput {
    width: 730px;
    height:30px;
    padding: 0.5rem;
    outline: none;
    border: 0.5px solid gray;
}
.boardTitle, .boardHeader{
	margin: 20px 0 0 0;
	width:800px;
	display:flex;
}
.board_title,
.board_header{
	width:50px;
	height:30px;
	margin: 0 15px 0 0;
}
.type_radio{
	width: 800px;
	height:30px;
	display:inline-block;
	text-align:center;
	margin:10px 0;
}
input[name=board_header]+label{
	margin: 0 33px 0 0;
}
.board_content{
	width: 100%;
	height: 500px;
	resize: none;
	padding: 30px;
	margin: 30px 0 0 0;
}
.boardwriteBtn{
	margin: 30px 0;
}
.write_btn, .cancle_btn{
	width: 80px;
	height: 30px;
	font-size: 16px;
	margin:0 10px;
	background-color:#7b9acc;
	border: 1px solid #7b9acc;
	color: white;
}

.boardlist-searchbox{
	display:flex;
	align-items:center;
	justify-content:center;
}
.board-searchbtn-typekey{
	width:50px;
	height:35px;
	background-color:#7b9acc;
	color:white;
	font-weight:bold;
	border:none;
	outline:none;
}
.boardlisttitle:hover{
	color:#7b9acc;
	border-bottom:1px solid #7b9acc;
}
.detail-info-top{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 1rem;
}
.board-detail-info{
	padding:0.5rem 1rem;
	margin:0.5rem 0;
	border-bottom:1px solid #7b9acc;
	display:flex;
	justify-content:space-between;
}
.go-list{
	text-decoration:none;
	color:#7b9acc;
	margin-right:0.5rem;
	font-size:18px;
}
.go-list:hover{
	font-weight:bold;
}
.board-cbt{
	display:flex;
	justify-content:space-around;
	font-size:15px;
}
.detail-board-content{
    height:500px;
    padding:40px 30px;
    border-bottom:1px solid #7b9acc;
    font-size:18px;
}
.board-detail-th{
	padding:0 1rem;
	font-weight:bold;
	font-size:20px;
}
.board-member-nick-detail{
	font-size:18px;
	color:#7b9acc;
}
.reply-textarea{
	padding:1rem;
	border:2px solid #7b9acc;
	outline:none;
}
.replycount-detail{
	padding-left:0.5rem;
	margin-bottom:0.5rem;
	font-size:14px;
}
.replylist-list{
	margin-top:1rem;
	padding:0.6rem 0.6rem 0 0.6rem;
	border-top:1px solid #7b9acc;
}
.reply-delete{
	text-decoration:none;
	color:#7b9acc;
	font-size:12px;
	cursor:pointer;
}
.reply-delete:hover{
	font-weight:bold;
}
.reply-member-info{
	display:flex;
	align-items:center;
	margin-top:0.5rem;
}
.reply-member-nick{
	color:#7b9acc;
	margin-right:30px;
}
.reply-regist-time{
	font-size:13px;
}
.reply-active{
	display:flex;
	align-items:center;
	padding:0 0.5rem;
}
.reply-submit-btn{
	margin:0 0.5rem;
	width:60px;
	height:30px;
	background-color:#7b9acc;
	color:white;
	font-weight:bold;
	border:none;
	outline:none;
}
.reply-detail-content{
	font-size:17px;
}
.boardbtnc{
	width:60px;
	height:35px;
	background-color:#7b9acc;
	color:white;
	font-weight:bold;
	border:none;
	outline:none;
	border-radius:0.5rem;
}
