html
body{
	margin-top:20px;
	margin-left:30px;
	color:#888888;
	font-size:9pt;
}
#wrap{
	text-align: left;
}
h1{
	color:#7b9acc;
	font-size:40px;
	text-align:center;
	
}
.table {
	font-size:9pt;
	text-align: center;
}
.input{
	height:30px;
	padding: 0;
	margin: 0;
	text-align:left;
	
}
th{
	padding-left:10px;
	text-align:center;
	border-bottom:#7b9acc;
	background:#7b9acc;
	color:white;
}
td{
	padding-left:0px;
	test-align:left;
	align:left;
}
#회원가입{
	color:white;
}
#btn_success,#btn_reset{
	margin-top:20px;
	text-align:center;
	cursor : pointer;
	transition : 0.5s;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	background:#7b9acc;
	color:white;
	outline-color:white;
	border:none;
	border-radius: 12px;
}
#btn_success:hover{
	background:white;
  	color:#7b9acc;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.19);
}
#btn_reset:hover{
  	background:white;
  	color:#7b9acc;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#member_id,#member_pw,#member_pw2,#member_nick{
	width:250px;
	height:20px;
}
#member_email,#broker_name,#broker_address,#broker_address2{
	width:350px;
	height:20px;
}
#broker_landline{
	width: 350px;
	height : 20px;
}
	


#member_phone{
	width:70px;
	height:20px;
}