@font-face {
		    font-family:'samlib';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}

		.nanumsquare {
		    font-family: 'NanumSquare', sans-serif !important;
		}
			
		.outbox {
            height: 80px;
            z-index: 9999;
   			position: fixed;
   			width:100%;
   			background-color:white;
   			border-bottom: 1px solid lightgray;
            
        }
        .outbox div {
            height: inherit;
            display: inline-block;
            position: absolute;
            top: 5px;
        }
        .section_footer{
        	width: 100%;
		    height: 70px;
		    background-color: #7b9acc;
		    margin: 40px auto;
		    
        }
        .empty {
            right: 800px;
        }

        .login-btn {
        	margin-left:0;
            width:126px;
        }

        .ad {
        	margin-left: 150px;
            bottom: 10px; 
			width: 224px;           
        }
		.logo{
		    width: 175px;
		    margin-left: 33px;
		    height: 68px;
		    margin-top: 3px;
		}
        /*전체 메뉴*/
        .menu,
        .menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        /* 1차 메뉴 항목 */
        .menu-bar {
            position: relative;
            /*relative로 내부의 absolute를 가둔다*/
            bottom: 38px;
            left: 230px;
            width: 750px;
        }

        .menu>li {
            display: inline-block;
            padding: 1rem;
            height: 80px;
            width: 120px;
        }

        .menu>li>a {
            position: relative;
            top: 8px;
            left: 24px;
        }

        /* 2차 이상 메뉴 */
        .menu ul {
            background: white;
            display: none;
            z-index: 1000;
            position: absolute;
            width: 8rem;
            top: 74px;
            left: 20px;
            border: 1px solid gray;
        }

        .menu-regist ul {
            left: 280px;
        }
        .memu-my ul{
			left: 400px;        
        } 
        .menu ul>li {
            padding: 0.4rem;
        }

        .menu ul>li>a:hover {
			color: #7b9acc;
		}

        /*전체 메뉴에 마우스가 올라간 경우의 하위 메뉴*/
        .menu li:hover>ul {
            display: block;
        }

        /*메뉴에 있는 링크 전체*/
        .menu a {
            text-decoration: none;
            color: black;
        }
        .logo-wrap{
        	width:202px;
        }
        .login-btn input {
            position: relative;
		    top: 18px;
		    padding: 5px;
		    border-radius: 5px;
		    border: none;
		    border: 1px solid ;
		    font-size: 12px;
		    margin-left: 6px;
		    background-color: #7b9acc;
		    color: white;
		    height: 35px;
        }
        .login_gubun{
			padding-left: 50px
		}
	     #map {
	     	width:70%;
	        max-width: 1400px;
	        min-width: 1000px;
		    height: 600px;
		    margin: 0 auto;
	    }
	    .input {
	        width: 300px;
	        padding: 0.25rem;
	        margin: 0 1rem;
	    }
	    .login_text, .login_input{
	    	width: 75%;
		    height: 50px;
		    margin: 15px 10px 15px 85px;
	    }
	    .login_text{
	    	border: none;
		    border-bottom: 1px solid black;
		    font-size:20px;
		    font-size: 20px;
    		padding-left: 10px;
	    }
	    .login_input{
	    	background-color:#7b9acc;
	    	color:white;
    		border: none;
    		border-radius: 40px;
    		border: 0px;
    		font-size: 20px;
   			font-weight: bold;
	    }
	    .area {
	        font-size: 13px;
	        font-weight: bold;
	        color: gray;
	    }
	    .choice{
	    	display:float;
			position:absolute;
			width:230px;
			height:600px;
	    	left:0px;
	    	top: 82px;
	    	z-index:3;	    
		 }
		 .choice_box{
		 	width:230px;
		 	min-height:200px;
		 }
		.top_right_wrapper{
			width: 400px;
			margin-left: clamp(900px, 77%, 98%)
		}
	    .login_wrapper {
			width: 700px;
		    height: 550px;
		    position: absolute;
		    left: 41%;
		    top: 40%;
		    margin-left: -150px;
		    margin-top: -150px;
		    border:3px solid #7b9acc;
     		border-radius:0.9rem;
     		background-color:white;

		}
		.login_wrapper> .row {
			margin:0.5rem 0;
		}
		.info_wrapper{
			width:415px;
		    height:600px;
		    position:absolute;
		    left:47%;
		    top:40%;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
			border:3px solid #7b9acc;
     		border-radius:0.9rem;
     		background-color:white;
			
		}
		.brokerinfo_wrapper{
			width:450px;
		    height: 840px;
		    position: absolute;
		    left: 47%;
		    top: 250px;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
			border:3px solid #7b9acc;
     		border-radius:0.9rem;
     		background-color:white;
			
		}
		.pw_wrapper{
			width:415px;
			height:300px;
			position:absolute;
			left:47%;
		    top:55%;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
			border:3px solid #7b9acc;
     		border-radius:0.9rem;
     		background-color:white;
			
		}
		.member_wrapper {
			width:100%;
			height:25px;
			margin-top:5px;
			font-size:13px;
			background-color:white;
		}
		.admin_selector1 {
			width:400px;
		    height:400px;
		    position:relative;
		    text-align:center;
		    left:30%;
		    top:40%;
		    margin-left:150px;
		    margin-top:-220px;
			border:3px solid #7b9acc;
    		border-radius:0.9rem;
			background-color:white;
			
		}
		.admin_selector2 {
			width:400px;
		    height:400px;
		    position:relative;
		    text-align:center;
		    left:70%;
		    top:25%;
		    margin-left:-150px;
		    margin-top:-165px;
			border: solid 1px #7b9acc;
		}
		.type_selector{
		    display: block;
		    position: absolute;
		    right: 10px;
		    top: 540px;
		    z-index: 10;
		}
		.selector_type{
			width:125px;
			height:40px;
		}
		.admin_box1{
			display:inline-block;
			width:50%;
			height:100px;
			margin-top:150px;
			font-size:40px;
			
		}
		.admin_box2{
			display:inline-block;
			width:50%;
			height:100px;
			margin-top:100px;
			font-size:20px;
		}
		.adminlist_wrapper {
			width:850px;
		    height:800px;
		    position:relative;
		    text-align:center;
		   	margin: 0 auto;
			border: 2px solid #7b9acc;
			background-color: white;
			border-radius: 2rem;
		}
		.admin_table{
			width: 90%;
			border: 1px solid black;
			border-collapse: collapse;
			margin: 20px auto;
		}
		.admin_table tr,
		.admin_table td,
		.admin_table th{
			border: 1px solid black;
			background-color: white;
			padding: 7px;
		}
		.admin_table th{
			background-color:#7b9acc;
			color: white;
		}
		.board_search_type{
		  	width: auto;
			padding: 0.5rem;
			outline: none;
			border: 0.5px solid #7b9acc;
			border-radius:0.7rem;
		}
		.board_search_key{
		  	width: auto;
			padding: 0.5rem;
			outline: none;
			border: 0.5px solid #7b9acc;
			border-radius:0.7rem;
		}
		.board-searchbtn-typekey{
			width:50px;
			height:35px;
			background-color:#7b9acc;
			border-radius:0.7rem;
			color:white;
			font-weight:bold;
			border:none;
			outline:none;
		}
		.member_info {
			height:45px;
			line-height:45px;
			padding-left:13px;
			background-color:rgba(250,250,250,1.00);
			border: 1px solid rgb(225,225,225);
			border-radius:1px;
			margin-top:5px;
		}
		.left_button, .right_button{
			float:left;
			width:50%;
			height:50px;
			line-height:50px;
			text-align:center;
			background-color: #7b9acc;
			border:0 solid black;
			border-radius: 2px;
			margin-top:20px;
		}
		.last_button{
			font-size:12px;
			color: rgb(117,117,117);
			float:left;
			width:100%;
			height:25px;
			margin-top:10px;
		}
		.pw_button{
			width:50%;
			height:10px;
			margin:19%;		
		}
		.button_pw{
			padding: 5px;
    		width: 100%;
    		background-color: #7b9acc;
			border: none;
		    border-radius: 15px;
		    color: white;
		    margin-left:20px;
		}
		.editpw_button{
			width:50%;
			height:10px;
			margin:20%;
		}
		.home_wrapper{
			position: relative;
			height:210px;
			width:70%;
			min-width:1000px;
			max-width:1400px;
			min-height:390px;
			margin: 0 auto;
			text-align:center;
			
		}
		.home_lower{
			position: relative;
		    display: inline-block;
		    width: 300px;
		    min-height: 170px;
		    min-width: 300px;
		}
		.home_keeper{
			min-width:300px;
			min-height:200px;
			width:300px;
			text-align:center;
			position:absolute;
		}
		.all_wrapper{
			height:914px;
			width:100%;
			background-color:#f5f6fa;
			padding: 40px 0 0 0;
			
		}
		.indexhold{
		    width: 220px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    text-align: initial;
		    margin-top: 5px;
		    font-size: 14px;
		    margin-left: 40px;
		}
		.index_menu{
			padding-top: 25px;
		    padding-bottom: 10px;
		    border-bottom: #7b9acc 3px solid;
		    width: 220px;
		    font-size: 20px;
		    font-weight: bold;
		    margin-left: 40px;
		}
		a{
		text-decoration:none ;
		 color:#000000
		}
		hr{
		opacity:0.5;
		}
#oneroom +label{
	background-color: #42649B;
}
.type_btn{
	display:none;
	margin:10px;
}
.type_label{
	display:inline-block;
	padding:10px;
	margin: 0px;
	border: none;
	background-color: #7b9acc;
	width:140px;
	height: 50px;
	text-align: center;
	font-family: 'samlib';
	font-size: 33px;
	box-sizing: border-box;
	border-radius: 30px;
	color:white;
}