		@font-face {
		    font-family: 'ng';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		    
		}
			
		.outbox {
            height: 80px;
            z-index: 9999;
   			position: fixed;
   			width:1900px;
            
        }
        .outbox div {
            height: inherit;
            display: inline-block;
            position: absolute;
            top: 0;
        }
        .empty {
            right: 800px;
        }

        .login-btn {
            right: 260px;
            width:126px;
        }

        .ad {
            right: 10px;
            bottom: 10px; 
			width: 224px;           
        }

        /*전체 메뉴*/
        .menu,
        .menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        /* 1차 메뉴 항목 */
        .menu-bar {
            position: relative;
            /*relative로 내부의 absolute를 가둔다*/
            bottom: 38px;
            left: 230px;
            width:1288px;
        }

        .menu>li {
            display: inline-block;
            padding: 1rem;
            height: 80px;
            width: 120px;
        }

        .menu>li>a {
            position: relative;
            top: 8px;
            left: 24px;
        }

        /* 2차 이상 메뉴 */
        .menu ul {
            background: white;
            display: none;
            z-index: 1000;
            position: absolute;
            width: 8rem;
            top: 80px;
            left: 20px;
            border: 1px solid gray;
        }

        .menu-regist ul {
            left: 280px;
        }
        .memu-my ul{
			left: 380px;        
        } 
        .menu ul>li {
            padding: 0.4rem;
        }

        .menu ul>li>a:hover {
            color: #FFDFDE;
        }

        /*전체 메뉴에 마우스가 올라간 경우의 하위 메뉴*/
        .menu li:hover>ul {
            display: block;
        }

        /*메뉴에 있는 링크 전체*/
        .menu a {
            text-decoration: none;
            color: black;
        }
        .logo-wrap{
        	width:202px;
        }
        .login-btn input {
            position: relative;
            top: 18px;
            padding: 8px;
            border-radius: 4px;
            border: none;
            border: 1px solid lightgray;
            font-size: 12px;
        }
        .login_gubun{
			padding-left: 50px
		}
	     #map {
	        width: 600px;
	        height: 500px;
	        border: 2px solid gray;
	    }
	    .input {
	        width: 300px;
	        padding: 0.25rem;
	        margin: 0 1rem;
	    }
	    .area {
	        font-size: 13px;
	        font-weight: bold;
	        color: gray;
	    }
	    .choice{
	    	display:float;
			position:absolute;
			width:230px;
			height:600px;
	    	left:0px;
	    	top: 82px;
	    	z-index:3;	    
		 }
		 .choice_box{
		 	width:230px;
		 	min-height:200px;
		 }
	    
	    .login_wrapper {
			width:300px;
		    height:300px;
		    position:absolute;
		    left:50%;
		    top:50%;
		    margin-left:-150px;
		    margin-top:-150px;
		}
		.login_wrapper> .row {
			margin:0.5rem 0;
		}
		.info_wrapper{
			width:450px;
		    height:600px;
		    position:absolute;
		    left:50%;
		    top:40%;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
		}
		.brokerinfo_wrapper{
			width:450px;
		    height:840px;
		    position:absolute;
		    left:50%;
		    top:28%;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
		}
		.pw_wrapper{
			width:450px;
			height:300px;
			position:absolute;
			left:50%;
		    top:55%;
		    margin-left:-150px;
		    margin-top:-150px;
			border: solid 1px gray;
			padding: 10px 20px;
		}
		.member_wrapper {
			width:100%;
			height:25px;
			margin-top:5px;
			font-size:13px;
		}
		.admin_selector1 {
			width:400px;
		    height:400px;
		    position:relative;
		    text-align:center;
		    left:30%;
		    top:50%;
		    margin-left:-150px;
		    margin-top:-220px;
			border: solid 1px gray;
			
		}
		.admin_selector2 {
			width:400px;
		    height:400px;
		    position:relative;
		    text-align:center;
		    left:70%;
		    top:25%;
		    margin-left:-150px;
		    margin-top:-165px;
			border: solid 1px gray;
		}
		.type_selector{
		    display: block;
		    position: absolute;
		    left: 670px;
		    top: 185px;
		    z-index: 10;
		}
		.selector_type{
			width:125px;
			height:40px;
		}
		.admin_box1{
			display:inline-block;
			width:50%;
			height:100px;
			margin-top:150px;
			font-size:40px;
			
		}
		.admin_box2{
			display:inline-block;
			width:50%;
			height:100px;
			margin-top:100px;
			font-size:20px;
		}
		.adminlist_wrapper {
			width:800px;
		    height:100%;
		    position:relative;
		    text-align:center;
		    left:40%;
		    top:29%;
		    margin-left:-150px;
		    margin-top:-165px;
			border:none;
		}
		.member_info {
			height:45px;
			line-height:45px;
			padding-left:13px;
			background-color:rgba(250,250,250,1.00);
			border: 1px solid rgb(225,225,225);
			border-radius:1px;
			margin-top:5px;
		}
		.left_button, .right_button{
			float:left;
			width:50%;
			height:50px;
			line-height:50px;
			text-align:center;
			background-color: rgb(68,68,68);
			border:0 solid black;
			border-radius: 2px;
			margin-top:20px;
		}
		.last_button{
			font-size:12px;
			color: rgb(117,117,117);
			float:left;
			width:100%;
			height:25px;
			margin-top:10px;
		}
		.pw_button{
			width:50%;
			height:10px;
			margin:19%;		
		}
		.editpw_button{
			width:50%;
			height:10px;
			margin:20%;
		}
		.home_wrapper{
			position: relative;
			height:390px;
			width:1900px;
			min-height:390px;
			min-width:1400px;
		}
		.home_lower{
			position: relative;
			display: inline-block;
			width: 608px;
			min-height: 387px;
			min-width: 300px;
			border: 1px solid gray;
			margin: 0px 0px 0px 15px;
		}
		.home_keeper{
			min-width:606px;
			min-height:387px;
			width:300px;
			text-align:center;
			position:absolute;
		}
		.all_wrapper{
			height:922px;
			width:100%;
		}
		a{
		text-decoration:none ;
		 color:#000000
		}
		hr{
		opacity:0.5;
		}