.searchLat, .searchLng {
	display: none;
}

.selectItem {
	padding: 10px 10px 0;
}

.searchResult {
	border: 2px solid white;
	z-index: 110;
	width: 260px;
	max-height: 300px;
	display: none;
	background-color: white;
	overflow: auto;
}

.searchName {
	font-size: 14px;
	font-weight: bold;
	display: block;
}

.searchAddress {
	font-size: 10px;
	display: block;
}

.floatBox {
	z-index: 100;
	width: 331px;
	height: 55px;
	position: absolute;
	left: 20px;
	top: 150px;
	background-color: white;
	padding: 8px 10px 10px 10px;
	border: 1px solid lightgray;
}

.searchBox {
	border: 2px solid #7b9acc;
	border-radius: 3px;
}

.search {
	float: left;
	padding: 9px;
	border: none;
	width: 260px;
	margin: 0;
	z-index: 100;
}
.searchBtn{
	z-index: 100;
	background-color: #7b9acc;
	border: 1px solid #7b9acc;
	width: 45px;
	hieght: 100%;
	padding: 0;
}

.search::after {
	content: "";
	display: block;
	clear: both;
}

hr {
	background-color: lightgray;
	height: 1px;
	border: 0;
}